# OS generate files #
.DS_Store
.DS_Store?
._*
Thumbs.db
# vi file #
*.swp
# LaTeX files #
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.xdv
# pdf files
#resume_2018/cover_letter_2018.pdf
#resume_2018/resume_2018.pdf
#resume_2018/resume_2019.pdf
#resume_2018/resume_comment_2.pdf
#resume_2019/resume_2019.pdf
